body {
  font-family: Arial;
  background: #0f0f0f;
  color: white;
  padding: 20px;
}

.box {
  background: #1a1a1a;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

button {
  padding: 6px 12px;
  cursor: pointer;
}
